@font-face {
   font-family: compagnonMedium;
   src: url(fonts/compagnon-medium.woff);
}

@font-face {
   font-family: compagnonItalic;
   src: url(fonts/compagnon-italic.woff);
}




* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h3 {
    color: #303030;
    font-size: 1.25em;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding:0;
}

h4 {
    color: #303030;
    font-size: 1.5em;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    color: #303030;
    font-size: 1.25em;
    font-family: compagnonItalic, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding:0;
}

footer {
    width: 100%;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    font-family: monospace;
    z-index: 10;
    line-height: 0;
    padding: 12px;
}


a:link {
    color: #0000EE;
    background-color: transparent;
    transition: background-color 0.8s ease;
    transition: color 0.2s ease;
    border-radius: 3px;
}

a:link:hover {
    background-color: #0000EE;
    color: #fff;
}

a:visited {
    color: #551A8B;
    background-color: transparent;
    transition: background-color 0.8s ease;
    transition: color 0.2s ease;
    border-radius: 3px;
}

a:visited:hover {
    background-color: #551A8B;
    color: #fff;
}



.sidebar {
    grid-area: menu;
    background-color: #f0dfdf;
    text-align: left;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#entry1 { grid-area:main1 }
#entry2 { grid-area:main2 }
#entry3 { grid-area:main3 }
#entry4 { grid-area:main4 }
#entry5 { grid-area:main5 }
#entry6 { grid-area:main6 }
#entry7 { grid-area:main7 }
#entry8 { grid-area:main8 }
#entry9 { grid-area:main9 }
#entry10 { grid-area:main10 }
#entry11 { grid-area:main11 }
#entry12 { grid-area:main12 }
#entry13 { grid-area:main13 }
#entry14 { grid-area:main14 }
#entry15 { grid-area:main15 }
#entry16 { grid-area:main16 }



.grid-container {
    display: grid;
    grid-template-areas:
        'menu main1 main2 main3 main4'
        'menu main5 main6 main7 main8'
        'menu main9 main10 main11 main12'
        'menu main13 main14 main15 main16';
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 0.25em;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}


.socials {
    width: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.socials span {
    display: table-cell;
    text-align: center;
}


#nav > * {
    display: inline-block;
}

#img-link {
    text-decoration:inherit;
    background-color:inherit;
    color: inherit;
}

#preview {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}