@font-face {
   font-family: compagnonMedium;
   src: url(fonts/compagnon-medium.woff);
}

@font-face {
   font-family: compagnonItalic;
   src: url(fonts/compagnon-italic.woff);
}




* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
    background-image: radial-gradient(#eee 1px, transparent 0);
    background-size: 8px 8px;
    background-position: -19px -19px;
}

h3 {
    color: #000;
    font-size: 20px;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4 {
    color: #000;
    font-size: 24px;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000;
    font-size: 20px;
    font-family: compagnonItalic, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding:0;
}

p {
    color: #000;
    font-size: 12px;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/*
footer {
    width: 100%;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    font-family: monospace;
    z-index: 10;
    line-height: 0;
    padding: 18px;
}
*/

a:link {
    color: #0000EE;
    background-color: transparent;
    transition: background-color 0.8s ease;
    transition: color 0.2s ease;
    border-radius: 3px;
}

a:link:hover {
    background-color: #0000EE;
    color: #fff;
}

a:visited {
    color: #551A8B;
    background-color: transparent;
    transition: background-color 0.8s ease;
    transition: color 0.2s ease;
    border-radius: 3px;
}

a:visited:hover {
    background-color: #551A8B;
    color: #fff;
}



.sidebar {
    grid-area: menu;
    background: repeating-linear-gradient(
        135deg,
        #f0dfdf,
        #f0dfdf 6px,
        #edd9d9 2px,
        #edd9d9 8px
    );
    text-align: center;
    padding: 32px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.content-container, .sidebar, .content-block, #banner {
    border: 1px #000 solid;
    box-shadow: 2px 2px;
}

.content-container {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.content-container > h3 {
    left: 0;
    top: 0;
    margin-left: 4px;
}

.content-container > h1 {
    right: 0;
    bottom: 0;
    margin-right: 4px;
    text-align: right;
}

.content-container > h3, .content-container > h1 {
    position: absolute;
    color: transparent;
    transition: color 0.5s ease;
    z-index: 1;
}

.content-container:hover > h3, .content-container:hover > h1 {
    color: #000;
}

#entry1 { grid-area:main1 }
#entry2 { grid-area:main2 }
#entry3 { grid-area:main3 }
#entry4 { grid-area:main4 }
#entry5 { grid-area:main5 }
#entry6 { grid-area:main6 }
#entry7 { grid-area:main7 }
#entry8 { grid-area:main8 }
#entry9 { grid-area:main9 }
#entry10 { grid-area:main10 }
#entry11 { grid-area:main11 }
#entry12 { grid-area:main12 }
/*#entry13 { grid-area:main13 }
#entry14 { grid-area:main14 }
#entry15 { grid-area:main15 }
#entry16 { grid-area:main16 }*/

.content-block {
    grid-area: main;
    padding: 32px;
    background-color: #fff;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu main1 main2 main3 main4'
        'menu main5 main6 main7 main8'
        'menu main9 main10 main11 main12'
        'menu main13 main14 main15 main16';
    grid-template-columns: 288px repeat(4, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 8px;
    background-color: transparent;
    width: 100vw - 8px;
    height: 100vh;
}


.socials {
    width: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.socials > span {
    display: table-cell;
    text-align: center;
}

#name {
    margin-bottom: 8px;
}

#img-link, #name {
    text-decoration:inherit;
    background-color:inherit;
    color: inherit;
}

#preview {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: filter 0.5s ease;
    filter: initial;
}

#banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#block-layout {
    grid-template-areas:
        'menu main right';
    grid-template-columns: 288px min(768px, 100vw - 304px) 1fr;
}

.content-container:hover > a > #preview {
    background-color: #fff;
    filter: blur(2px) opacity(50%) saturate(0%);
}




@media only screen and (max-width: 992px) {
    .grid-container {
        grid-template-areas:
            'menu menu'
            'main1 main2'
            'main3 main4'
            'main5 main6'
            'main7 main8'
            'main9 main10'
            'main11 main12'
            'main13 main14'
            'main15 main16';
        grid-template-columns: initial;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-rows: initial;
        grid-template-rows: 176px repeat(8, 160px);
        height: 100vh;
    }

    #block-layout {
        grid-template-areas:
            'menu'
            'main'
            'bottom';
        /* For some reason I had to double this*/
        grid-template-columns: initial;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-rows: initial;
        grid-template-rows: 176px min(384px, 100vh - 192px) 1fr;
        height: 100vh;
    }
}