@font-face {
   font-family: compagnonMedium;
   src: url(fonts/compagnon-medium.woff);
}

@font-face {
   font-family: compagnonItalic;
   src: url(fonts/compagnon-italic.woff);
}




* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h3 {
    color: #303030;
    font-size: 1.25em;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding:0;
}

h4 {
    color: #303030;
    font-size: 1.5em;
    font-family: compagnonMedium, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    color: #303030;
    font-size: 1.25em;
    font-family: compagnonItalic, Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding:0;
}

footer {
    width: 100%;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    font-family: monospace;
    z-index: 10;
    line-height: 0;
    padding: 12px;
    text-align: center;
}


a:link {
    color: #0000EE;
    background-color: transparent;
    transition: background-color 0.5s ease;
    transition: color 0.1s ease;
    border-radius: 3px;
}

a:link:hover {
    background-color: #0000EE;
    color: #fff;
}

a:visited {
    color: #551A8B;
    background-color: transparent;
    transition: background-color 0.5s ease;
    transition: color 0.1s ease;
    border-radius: 3px;
}

a:visited:hover {
    background-color: #551A8B;
    color: #fff;
}





.sidebar {
    grid-area: menu;
    background-color: #f0dfdf;
    text-align: left;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100vh;
}

.content {
    grid-area: main;
    padding: 1em;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'menu main main main main'
        'menu main main main main'
        'menu main main main main'
        'menu main main main main';
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}


.socials {
    width: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.socials span {
    display: table-cell;
    text-align: center;
}


#nav > * {
    display: inline-block;
}

#img-link {
    text-decoration:inherit;
    background-color:inherit;
    color: inherit;
}