---
title: Assorted Patterns
year: 2024
date: 2024-03-16
premiere: 2024-03-16
dedication: ''
movements: ["Shchedrin", "Roslavets", "Canon"]
instrumentation: solo piano
duration: c. 5'30"
banner_img_url: ''
banner_img_alt: ''
banner_img_caption: ''
perusal_score_url: ''
audio_url: ''
audio_peaks_url: ''
audio_caption: ''
listed: true
page: false
tags:
    solo: true
---