@import 'tailwindcss' important;
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@utility link-circle {
	@apply bg-[url("$lib/assets/circle-select.svg")];
	@apply bg-center;
	@apply bg-no-repeat;
	@apply bg-contain;
}

@font-face {
	font-family: Syne Mono;
	src: url('/fonts/SyneMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Syne Tactile;
	src: url('/fonts/SyneTactile-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Happy Times;
	src: url('/fonts/HappyTimes-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Happy Times;
	src: url('/fonts/HappyTimes-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Happy Times;
	src: url('/fonts/HappyTimes-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@theme {
	--color-accent: #ff0080;
	--color-background: #f2f2f2;

	--font-syne-mono: 'Syne Mono', Courier New, Courier, monospace;
	--font-syne-tactile: 'Syne Tactile', sans-serif;
	--font-happy-times: Happy Times, Times New Roman, Times, serif;

	--breakpoint-lg: 900px;
}

h1 {
	font-family:
		Syne Mono,
		Courier New,
		Courier,
		monospace;
	font-size: 20px;
	line-height: 26px;
}
h2 {
	font-size: 16px;
}

p {
	font-family:
		Happy Times,
		Times New Roman,
		Times,
		serif;
	font-size: 11px;
	line-height: 14px;
	text-align: justify;
}

.navi::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url('$lib/assets/circle-select.svg');
}
